@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="Result" method="post">
    <input type="number" name="a" step="0.0001" />
    <select name="op">
        <option value="Add">+</option>
        <option value="Sub">&minus;</option>
        <option value="Mul">&times;</option>
        <option value="Div">&divide;</option>
    </select>
    <input type="number" name="b" step="0.0001" />
    <button type="submit">Oblicz</button>
</form>
