@model Dictionary<int, Employee>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Lista Pracowników</h2>
<table class="table">
    <tr>
        <th>
            Imię
        </th>
        <th>
            Nazwisko
        </th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @item.Value.FirstName
            </td>
            <td>
                @item.Value.LastName
            </td>
            <td>
                <a class="btn btn-primary"
                   asp-action="Edit"
                   asp-controller="Contact"
                   asp-route-id=@item.Value.Id>Edytuj</a>
                <a class="btn btn-primary"
                   asp-action="Details"
                   asp-controller="Contact"
                   asp-route-id=@item.Value.Id>Szczegóły</a>
                <a class="btn btn-primary"
                   asp-action="Delete"
                   asp-controller="Contact"
                   asp-route-id=@item.Value.Id>Usuń</a>
            </td>
        </tr>
    }
</table>
<div>
    <a class="btn btn-primary" asp-controller="Employee" asp-action="Create">Dodaj</a>
</div>

